@import 'reset';
@import 'fonts';

.page {
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 100px;
    font-family: sans-serif;
}

.title {
    text-align: center;
}

.text {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-weight: bold;
}