@import 'reset';
@import 'fonts';

.page {
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 100px;
    font-family: sans-serif;
}

.title {
    text-align: center;
}

.btn {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    cursor: pointer;
    line-height: 20px;
    max-width: 200px;
    padding: 20px 20px;
    font-weight: bold;
}