@import 'reset';
@import 'fonts';

.page {
    max-width: 100vw;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.block {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 400px;
    gap: 10px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    padding: 1px 5px;
    cursor: pointer;
}